@model ASP_MVC4.Models.ViewModel.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Customer != null)
{
    <h2>Edit Customer</h2>
}
else
{
    <h2>New Customer</h2>
}


@using (Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(p => p.Customer.Name)
        @Html.TextBoxFor(p => p.Customer.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Customer.Birthday)
        @Html.TextBoxFor(p => p.Customer.Birthday, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Customer.MemberShipTypeId)
        @Html.DropDownListFor(p => p.Customer.MemberShipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
    </div>
    <div class="form-check">
        @Html.CheckBoxFor(p => p.Customer.IsSubscribedToNewsletter)
        <label class="form-check-label" for="flexCheckDefault">
            Subscribed to Newletter?
        </label>
    </div>
    @Html.HiddenFor(p => p.Customer.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}
